.third-row{
    color: whitesmoke;
    font-weight: 700;
    font-size: xx-large;
    font-family: inherit;
    height: 340px;
   
 
  
}
.firstrow{
    height: 500px;
}
/* .container-fluid{
   width: 100%;
    
}  */
